@import "../../assets/css/theme.styl"

.paper-card{
  border 1px solid #e3e3e3
  border-radius 5px
  height 130px
  display flex
  flex-direction column
  margin-bottom 10px
  background-color paperCardBackground
  cursor pointer
  .paper-title{
    font-size 22px
    margin 10px
    font-weight normal
  }
  .paper-content{
    padding 0 10px
    flex 1
  }
  .paper-time{
    padding 10px
  }
}