.main-home{
  width 100%
  .main-content{
    margin 20px auto
    margin-top 70px
    width 1024px
    display flex
    //border 1px solid #e3e3e3
    .main-left{
      flex 1
      .left-top{
        border 1px solid #e3e3e3
        border-radius 5px
        margin 5px 10px 10px 10px
        height 120px
        background url("../../assets/images/topBackground.jpg") no-repeat
        background-size 100%
      }
      .left-content{
        margin 10px
        .title{
          margin 10px
          font-size 24px
          font-weight normal
        }
        .paper-content{
          /*border 1px solid #e3e3e3
          border-radius 5px*/
          .loading-text{
            text-align center
            line-height 60px
          }
          .no-data-text{
            text-align center
          }
          .click-more{
            text-align center
            background-color #ffffff
            font-size 16px
            padding 10px
            border-radius 5px
            border 1px solid #e3e3e3
            cursor pointer
          }
        }
      }
    }
    .main-right{
      width 250px
      height 800px
      //border 1px solid steelblue
    }
  }
  .bottom-area{
    text-align center
    margin 20px 10px 60px 10px
  }
}