@import "../../assets/css/theme.styl"

.personal-info{
  border 1px solid #e3e3e3
  border-radius 5px
  margin 5px
  background-color selfIntroBackground
  .avatar-area{
    width 100px
    height 100px
    border 1px solid #e3e3e3
    border-radius 50%
    margin 10px auto
    cursor pointer
  }
  .self-introduce{
    text-align center
  }
  .self-contact{
    ul{
      padding 0
      margin-bottom 5px
      text-align center
      li{
        display inline-block
        padding 5px
        font-size 20px
        cursor pointer
        &:hover{
          color steelblue
        }
      }
    }
  }
  .user-mail{
    text-align center
    padding 5px
    i{
      font-size 18px
      margin-right 10px
    }
  }
}